.comment {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .comment_header {
    display: flex;
    margin-bottom: 10px;
  }
  
  .commentInfo {
    margin-left: 10px;
  }
  
  .commentInfo > p {
    font-size: 12px;
    color: gray;
  }
  
  .commentInfo > h2 {
    font-size: 15px;
    margin-bottom: 3px;
  }
  
  .comment_buttons {
    display: flex;
    /* justify-content: space-evenly; */
  }
  
  .comment_body {
    overflow-wrap: anywhere;
  }


  .comment_body >img{
    width: 100%;
  }

  .comment_analytics {
    font-size: 12px;
    color: gray;
    margin-top: 6px;
    display: flex;
  }
  .comment_analytics >p {
    padding: 3px;
  }
